:root {
    --dark-purple: #191B2D;
    --light-purple: #241F3B;
    --section: #363551;
}

* {
    margin: 0;
    padding: 0;
    border: none;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body, html {
    background: black;
    background-image: url('assets/fundoPreto.png');
}

html {
    scroll-behavior: smooth;
}

.parallax {
    background-attachment: fixed;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: black;
    padding: 1rem 11rem;
}

nav img {
    width: 2.5rem;
    height: 2.5rem;
    filter: opacity(.7);
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul i {
    margin-right: 5px;
}

nav ul li:not(:last-child) {
    margin-right: 3.438rem;
}

nav ul li a {
    color: rgb(177, 44, 44);
    text-decoration: none;
    transition: 1s all;
}

nav ul li a:hover {
    color: white;
}

section {
    /* background-color: var(--section); */
    background: url('assets/fundo4.jpg') no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
}

.description {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 8rem;
}

span {
    color: rgba(255, 0, 0, 0.432);
    font-weight: bold;
}

.description p {
    width: 40rem;
    color: #787683;
    font-size: 1.4rem;
}

.description img {
    width: 35rem;
    height: 35rem;
}

.description h1 {
    color: white;
    font-size: 2.7rem;
    margin-bottom: 20px;
}

.members {
    display: flex;
    justify-content: center;
    color: #787683;
}

.members p {
    margin: 0 30px;
}

.members i {
    margin-right: 5px
}

article {
    min-height: 100vh;
    width: 100%;

    /* background: black; */

    display: flex;
    justify-content: center;
    align-items: center;
}

article img {
    width: 20rem;
    height: 20rem;
    margin: 0px 25px 0;
}

article h2 {
    color: white;
    font-size: 2.7rem;
    margin-bottom: 20px;
}

article p {
    width: 40rem;
    color: #b4b4b4;
    font-size: 1.4rem;
}

.fundo {
    background-color: black;
    width: 100vw;
    height: 300px;

    z-index: 3;
}

footer {
    padding: 1.5rem 5rem;
    background-color: transparent;
}