body, html {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;

    font-family: sans-serif;

    background-image: linear-gradient(to top, #5e60ce, #4ea8de);

}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #434343;
    border-radius: 25px;

    height: 550px;
    width: 65vw;

    display: flex;
}

.leftSide {
    background-color: #434343;
    border-radius: 25px;

    height: 100%;
    width: 30%;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu img {
    width: 110px;
    height: 110px;

    border-radius: 50%;
    background-color: white;
    padding: 3px;

    margin-top: 60px;
}

.menu h1 {
    color: rgba(255, 255, 255, 0.856);
    font-size: 1.3rem;
}

.menu p, .rightSide p {
    color: rgba(255, 255, 255, 0.61);
}

.menu ul {
    display: flex;
    padding: 0;
}

.menu ul li {
    list-style-type: none;
    
    margin: 5px;
}

.menu ul li a {
    color: rgba(255, 255, 255, 0.61);
    border-radius: 50%;
    padding: 6px;
}

.menu ul li a:hover {
    color: rgb(255, 255, 255);
}

.rightSide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    background-color: #222;
    border-radius: 0 25px 25px 0;

    height: 100%;
    width: 70%;
}

.rightSide p {
    width: 65%;
    text-align: center;
    line-height: 1.5;
}

.rightSide ul {
    display: flex;
    padding: 0;
    width: 100%;
    margin-top: 35px;
    flex-wrap: wrap;
    height: 165px;
    justify-content: center;
    align-items: center;
}

.rightSide ul li {
    list-style-type: none;
}

.rightSide ul li a {
    text-decoration: none;
    color: white;
    background-color: rgba(255, 255, 255, 0.103);

    border-radius: 15px;
    border: 1px solid white;

    padding: 15px 20px;

    background-size: contain;
    background-size: cover;
}

.rightSide ul li a:hover {
    background-color: rgba(255, 255, 255, 0.281);
}

.rightSide ul li:not(:first-child) {
    margin-left: 25px;
}

.rightSide i {
    color: rgba(255, 255, 255, 0.123);
    font-size: 5rem;
}

.imagens img {
    width: 100px;
    height: 100px;
}