*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
}

.login{
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px 80px;
}

form{
    display: flex;
    flex-direction: column;
    width: 78%;
}

label, p{
    color: #7c7a85;
}

input[type=email], input[type=password]{
    border: 1px solid;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #CAC8D2;
    margin: 15px 0px;
    outline: none;
}

input:focus{
    box-shadow: 0 0 8px #3686eea1;
}

a{
    text-decoration: none;
    color: #3686eef1;
}

button{
    padding: 15px 20px;
    border-radius: 10px;
    border: none;
    background-color: #3687EE;
    color: white;
    cursor: pointer;
}

h1{
    color:#3687EE;
}

.senha{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.icons{
    font-size: 20px;
    z-index: 4;
    color: black;
}

.back{
    background-color:#3687EE;
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}



