:root {
    --grey: #EBEBEB;
}

body, html {
    margin: 0;
    padding: 0;
    border: 0;

    background-color: #995BED;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.container > div {
    height: 35rem;
    width: 340px;

    box-sizing: border-box;
    padding: 15px;
    border-radius: 10px;
    background-color: white;
}

.logo div {
    background-color: var(--grey);
    border-radius: 5px;
    height: 25px;
    width: 80%;
}

.logo {
    height: 50%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h1 {
    color: rgba(185, 185, 185, 0.747);
    font-size: 1.3rem;
}

.footer {
    height: 50%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.circle {
    background-color: var(--grey);
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.line2{
    border-radius: 5px;
    width: 40%;
    height: 25px;
    background-color: var(--grey);
    margin: 20px;
}

